
/* Button Style Neon Glow */
@mixin neon-glow(
    $hue, $saturation, $lightness) {
    
    background-color: hsl($hue, $saturation, ((50% - $lightness) + $lightness));
    box-shadow: 0 0 10px .5px hsl($hue, $saturation, $lightness + 15%);
    border: none;

    @content;
}