
/* Button Style Neon Glow */

@mixin neon-glow(
    $hue, $saturation, $lightness) {
    
    background-color: hsl($hue, $saturation, ((50% - $lightness) + $lightness));
    box-shadow: 0 0 10px .5px hsl($hue, $saturation, $lightness + 15%);
    border: none;

    @content;
}

@mixin pl-flex($justify-content: center, $align-items: center, $flex-direction: column) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
}