
// font Sizes //

$Type-scale: (
    small: (
        300: 1rem,
        400: 1.125rem,
        500: 1.20rem,
        600: 1.40rem,
        700: 2.01rem,
        800: 3.05rem,
    ),
    big: (
        300: 1rem,
        400: 1.25rem,
        500: 2rem,
        600: 2.25rem,
        700: 2.827rem,
        800: 4rem,
    )
)