@use '../Abstract' as *;

/* Social Links Style */
.swiper-links { 
    justify-self: flex-end;
    display: flex;
    gap: 1.5rem;
    font-size: var(--fs-small-500, 1.3rem);   
    background: linear-gradient(
        40deg,
        hsl(44, 99%, 73%),
        hsl(26, 96%, 55%),
        hsl(333, 68%, 50%),
        hsl(283, 61%, 47%),
        hsl(235, 61%, 57%),
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}