@use '../Abstract' as *;

.load {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    @include pl-flex();
    gap: 2rem;
    clip-path: circle(100% at 50% 50%);
    transition: all .5s ease;
    background-color: var(--clr-classic-300, hsl(0, 0%, 5%));

    /* Heading in loading screen */
    h1 {
        color: var(--clr-primary-300, #fff);
        font-size: clamp(1.40rem, 3vw, 2rem);
        background: linear-gradient(
            40deg,
            hsl(44, 99%, 73%),
            hsl(26, 96%, 55%),
            hsl(333, 68%, 50%),
            hsl(283, 61%, 47%),
            hsl(235, 61%, 57%),
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    /* Container for loading */
    .canvas {
        @include pl-flex(center, center, row);

        .spinner {
            width: .5em;
            height: .5em;
            margin: .5em;
            background-color: var(--clr-primary-200, #fff);
            border-radius: 50%;
    
            /* Setup a delay */
            &.p1 {
                animation: fall 1s linear .3s infinite;
            }
              
            &.p2 {
                animation: fall 1s linear .2s infinite;
            }
              
            &.p3 {
                animation: fall 1s linear .1s infinite;
            }
              
            &.p4 {
                animation: fall 1s linear infinite;
            }
        }
    }
    
    /* Animation for loading spans*/
    @keyframes fall {
        0% {
            transform: translateY(-15px);
        }
        25%, 75% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-15px);
        }
    }
}